@import '~node_modules/modern-normalize/modern-normalize.css';

.search-form {
  text-align: center;
  margin-top: 0px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #8058581e;
}
.button-search {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  transition: 0.2s ease-in-out;
}
.button-search:before {
  content: '';
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.button-search:hover {
  background: #fe6637;
  color: #fff;
}
.button-search:hover:before {
  left: 150px;
  transition: 0.5s ease-in-out;
}

.search-input {
  //   margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 1px solid rgb(218, 238, 197);
  background-color: rgb(255, 255, 255);
  border: none;
  width: 50%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  border-radius: 20px;
}

.search-input:focus {
  color: black;
  background-color: rgb(218, 238, 197);
  border-color: rgb(218, 238, 197);
  // border-radius: 2px;
}

.is-hidden {
  display: none;
}

.load-btn > .spinner.is-hidden {
  display: none;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 10%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

p {
  text-decoration: none;
}

.photo-card__link {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 0 0 20px;
  text-align: center;
  font-size: 14px;
  font-family: Lora;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  border: 2px solid rgb(226, 213, 213);
  border-radius: 10%;
}

.load-more {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.load-more:hover {
  background-color: black;
  color: white;
}

.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: fantasy;
  color: #fe6637;
}
